<h1>Sign Up</h1>

<form action='/users' method='post'>
  <fieldset>
    <legend>New User</legend>
    <p>
      <label for='username'>
        Username: <input type='text' name='username' placeholder='username'>
      </label>
    </p>
    <p>
      <label for='email'>
        Email: <input type='email' name='email' placeholder='email@email.com'>
      </label>
    </p>
    <p>
      <label for='password'>
        Password: <input type='password' name='password'>
      </label>
    </p>
      <input type='submit' value='Sign Up'>
  </fieldset>
</form>
