<h1>What website do you want to add to your bookmarks?</h1>

<form action='/links' method='post'>
  <fieldset>
    <legend>New Bookmark</legend>
    <p>
      <label for='title'>
        Title: <input type='gtext' name='title' placeholder='My Website'>
      </label>
    </p>
    <p>
      <label for='url'>
        Url: <input type='url' name='url' placeholder='http://www.my_website.com'>
      </label>
    </p>
    <p>
      <label for='tags'>
        Tags: <input type='text' name='tags' placeholder='ex. news, hobby, ...'>
      </label>
    </p>
      Tag: <input type='submit' value='Save Bookmark'>
  </fieldset>
</form>
